Django
djangorestframework
drf-spectacular
django-cors-headers
requests
gTTS
psycopg2-binary==2.9.9
djangorestframework-simplejwt==5.3.1
django-filter==24.2
celery==5.4.0
redis==5.0.1
sentry-sdk==1.40.6
gunicorn==21.2.0
